<!--Header-->
<div>
    <div class="row" style="color: #4D4D4D;font-size: 15px;padding-bottom: 20px">
        <div class="col-md-7">
            <img src="http://materials.cv.uoc.edu/cdocent/common/img/logo-uoc.png" alt="Logo UOC" class="img-responsive" style="margin:20px 0px 0px">
        </div>
        <div class="col-md-5">
            <h1 style="margin:15px 0px 0px;font-size: 40px;">Manipulació de dades amb la llibreria dplyr</h1>
            <div style="text-align:left;margin-top: 5px;"></div>
        </div>
    </div>
    <div class="row" style="background: #FCB517;padding: 10px 20px;">
        <div class="col-md-6">
            <div>PID_00233252</div>
        </div>
        <div class="col-md-6">
            <div style="text-align:right;">Autor: Xavier Duran Albareda <span style="margin-left: 30px;">Coordinació: Julià Minguillón</span></div>
        </div>
    </div>
</div>
<!--/Header-->

# Introducció

En aquesta activitat farem servir la llibreria [`dplyr`](https://readr.tidyverse.org) per seleccionar i filtrar les dades del nostre _dataset_. [`dplyr`](https://readr.tidyverse.org) forma part de la col·lecció de paquets [`tidyverse`](https://tidyverse.org/), i es defineix com una gramàtica de manipulació de dades.

Les principals funcions són les següents:

- mutate() afegeix noves variables que són funció de variables existents al _dataset_
- select() selecciona les variables pel seu nom
- filter() selecciona casos o files del _dataset_ basat en els seus valors
- summarise() sumaritza múltiples valors a un sol sumari
- arrange() canvia l'ordenació de les variables

<br>
<div class="row">
     <div class="col-sm-3">
        <img src="images/dplyr.png" alt="deplyr">
    </div>
</div>

In [6]:
library(dplyr)

## Conjunt de dades

El conjunt de dades o _dataset_ que farem servir en aquest exemple correspon al de la competició [Titanic: Machine Learning from Disaster](https://www.kaggle.com/c/titanic) de [Kaggle](https://www.kaggle.com/).

In [7]:
library(readr)

df = read_csv('data/titanic.csv')
df

Parsed with column specification:
cols(
  PassengerId = col_integer(),
  Survived = col_integer(),
  Pclass = col_integer(),
  Name = col_character(),
  Sex = col_character(),
  Age = col_double(),
  SibSp = col_integer(),
  Parch = col_integer(),
  Ticket = col_character(),
  Fare = col_double(),
  Cabin = col_character(),
  Embarked = col_character()
)

    PassengerId Survived Pclass
1    1          0        3
2    2          1        1
3    3          1        3
4    4          1        1
5    5          0        3
6    6          0        3
7    7          0        1
8    8          0        3
9    9          1        3
10  10          1        2
11  11          1        3
12  12          1        1
13  13          0        3
14  14          0        3
15  15          0        3
16  16          1        2
17  17          0        3
18  18          1        2
19  19          0        3
20  20          1        3
21  21          0        2
22  22          1        2
23  23          1        3
24  24          1        1
25  25          0        3
26  26          1        3
27  27          0        3
28  28          0        1
29  29          1        3
30  30          0        3
⋮   ⋮           ⋮        ⋮
862 862         0        2
863 863         1        1
864 864         0        3
865 865         0        2
866 866         1        2
867 867         1        2
868 868         0        1
869 869         0        3
870 870         1        3
871 871         0        3
872 872         1        1
873 873         0        1
874 874         0        3
875 875         1        2
876 876         1        3
877 877         0        3
878 878         0        3
879 879         0        3
880 880         1        1
881 881         1        2
882 882         0        3
883 883         0        3
884 884         0        2
885 885         0        3
886 886         0        3
887 887         0        2
888 888         1        1
889 889         0        3
890 890         1        1
891 891         0        3
    Name                                                      Sex    Age SibSp
1   Braund, Mr. Owen Harris                                   male   22  1
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)       female 38  1
3   Heikkinen, Miss. Laina                                    female 26  0
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)              female 35  1
5   Allen, Mr. William Henry                                  male   35  0
6   Moran, Mr. James                                          male   NA  0
7   McCarthy, Mr. Timothy J                                   male   54  0
8   Palsson, Master. Gosta Leonard                            male    2  3
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         female 27  0
10  Nasser, Mrs. Nicholas (Adele Achem)                       female 14  1
11  Sandstrom, Miss. Marguerite Rut                           female  4  1
12  Bonnell, Miss. Elizabeth                                  female 58  0
13  Saundercock, Mr. William Henry                            male   20  0
14  Andersson, Mr. Anders Johan                               male   39  1
15  Vestrom, Miss. Hulda Amanda Adolfina                      female 14  0
16  Hewlett, Mrs. (Mary D Kingcome)                           female 55  0
17  Rice, Master. Eugene                                      male    2  4
18  Williams, Mr. Charles Eugene                              male   NA  0
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)   female 31  1
20  Masselmani, Mrs. Fatima                                   female NA  0
21  Fynney, Mr. Joseph J                                      male   35  0
22  Beesley, Mr. Lawrence                                     male   34  0
23  McGowan, Miss. Anna "Annie"                               female 15  0
24  Sloper, Mr. William Thompson                              male   28  0
25  Palsson, Miss. Torborg Danira                             female  8  3
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 38  1
27  Emir, Mr. Farred Chehab                                   male   NA  0
28  Fortune, Mr. Charles Alexander                            male   19  3
29  O'Dwyer, Miss. Ellen "Nellie"                             female NA  0
30  Todoroff, Mr. Lalio                                       male   NA  0
⋮   ⋮                                                         ⋮      ⋮   ⋮
862 Giles, Mr. Frederick Edward                               male   21  1
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       female 48  0
864 Sage, Miss. Dorothy Edith "Dolly"                         female NA  8
865 Gill, Mr. John William                                    male   24  0
866 Bystrom, Mrs. (Karolina)                                  female 42  0
867 Duran y More, Miss. Asuncion                              female 27  1
868 Roebling, Mr. Washington Augustus II                      male   31  0
869 van Melkebeke, Mr. Philemon                               male   NA  0
870 Johnson, Master. Harold Theodor                           male    4  1
871 Balkic, Mr. Cerin                                         male   26  0
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          female 47  1
873 Carlsson, Mr. Frans Olof                                  male   33  0
874 Vander Cruyssen, Mr. Victor                               male   47  0
875 Abelson, Mrs. Samuel (Hannah Wizosky)                     female 28  1
876 Najib, Miss. Adele Kiamie "Jane"                          female 15  0
877 Gustafsson, Mr. Alfred Ossian                             male   20  0
878 Petroff, Mr. Nedelio                                      male   19  0
879 Laleff, Mr. Kristo                                        male   NA  0
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)             female 56  0
881 Shelley, Mrs. William (Imanita Parrish Hall)              female 25  0
882 Markun, Mr. Johann                                        male   33  0
883 Dahlberg, Miss. Gerda Ulrika                              female 22  0
884 Banfield, Mr. Frederick James                             male   28  0
885 Sutehall, Mr. Henry Jr                                    male   25  0
886 Rice, Mrs. William (Margaret Norton)                      female 39  0
887 Montvila, Rev. Juozas                                     male   27  0
888 Graham, Miss. Margaret Edith                              female 19  0
889 Johnston, Miss. Catherine Helen "Carrie"                  female NA  1
890 Behr, Mr. Karl Howell                                     male   26  0
891 Dooley, Mr. Patrick                                       male   32  0
    Parch Ticket           Fare     Cabin       Embarked
1   0     A/5 21171          7.2500 NA          S
2   0     PC 17599          71.2833 C85         C
3   0     STON/O2. 3101282   7.9250 NA          S
4   0     113803            53.1000 C123        S
5   0     373450             8.0500 NA          S
6   0     330877             8.4583 NA          Q
7   0     17463             51.8625 E46         S
8   1     349909            21.0750 NA          S
9   2     347742            11.1333 NA          S
10  0     237736            30.0708 NA          C
11  1     PP 9549           16.7000 G6          S
12  0     113783            26.5500 C103        S
13  0     A/5. 2151          8.0500 NA          S
14  5     347082            31.2750 NA          S
15  0     350406             7.8542 NA          S
16  0     248706            16.0000 NA          S
17  1     382652            29.1250 NA          Q
18  0     244373            13.0000 NA          S
19  0     345763            18.0000 NA          S
20  0     2649               7.2250 NA          C
21  0     239865            26.0000 NA          S
22  0     248698            13.0000 D56         S
23  0     330923             8.0292 NA          Q
24  0     113788            35.5000 A6          S
25  1     349909            21.0750 NA          S
26  5     347077            31.3875 NA          S
27  0     2631               7.2250 NA          C
28  2     19950            263.0000 C23 C25 C27 S
29  0     330959             7.8792 NA          Q
30  0     349216             7.8958 NA          S
⋮   ⋮     ⋮                ⋮        ⋮           ⋮
862 0     28134            11.5000  NA          S
863 0     17466            25.9292  D17         S
864 2     CA. 2343         69.5500  NA          S
865 0     233866           13.0000  NA          S
866 0     236852           13.0000  NA          S
867 0     SC/PARIS 2149    13.8583  NA          C
868 0     PC 17590         50.4958  A24         S
869 0     345777            9.5000  NA          S
870 1     347742           11.1333  NA          S
871 0     349248            7.8958  NA          S
872 1     11751            52.5542  D35         S
873 0     695               5.0000  B51 B53 B55 S
874 0     345765            9.0000  NA          S
875 0     P/PP 3381        24.0000  NA          C
876 0     2667              7.2250  NA          C
877 0     7534              9.8458  NA          S
878 0     349212            7.8958  NA          S
879 0     349217            7.8958  NA          S
880 1     11767            83.1583  C50         C
881 1     230433           26.0000  NA          S
882 0     349257            7.8958  NA          S
883 0     7552             10.5167  NA          S
884 0     C.A./SOTON 34068 10.5000  NA          S
885 0     SOTON/OQ 392076   7.0500  NA          S
886 5     382652           29.1250  NA          Q
887 0     211536           13.0000  NA          S
888 0     112053           30.0000  B42         S
889 2     W./C. 6607       23.4500  NA          S
890 0     111369           30.0000  C148        C
891 0     370376            7.7500  NA          Q

# Selecció de columnes

En `R` fem servir les claus `[fila, columna]` per indicar la fila i la columna que volem seleccionar del `DataFrame`. Per exemple, per seleccionar la columna _Name_, farem servir `df[, Name]`, que indica que volem totes les files, però només la columna _Name_.

In [8]:
df[, 'Name']

    Name
1   Braund, Mr. Owen Harris
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)
3   Heikkinen, Miss. Laina
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)
5   Allen, Mr. William Henry
6   Moran, Mr. James
7   McCarthy, Mr. Timothy J
8   Palsson, Master. Gosta Leonard
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10  Nasser, Mrs. Nicholas (Adele Achem)
11  Sandstrom, Miss. Marguerite Rut
12  Bonnell, Miss. Elizabeth
13  Saundercock, Mr. William Henry
14  Andersson, Mr. Anders Johan
15  Vestrom, Miss. Hulda Amanda Adolfina
16  Hewlett, Mrs. (Mary D Kingcome)
17  Rice, Master. Eugene
18  Williams, Mr. Charles Eugene
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
20  Masselmani, Mrs. Fatima
21  Fynney, Mr. Joseph J
22  Beesley, Mr. Lawrence
23  McGowan, Miss. Anna "Annie"
24  Sloper, Mr. William Thompson
25  Palsson, Miss. Torborg Danira
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
27  Emir, Mr. Farred Chehab
28  Fortune, Mr. Charles Alexander
29  O'Dwyer, Miss. Ellen "Nellie"
30  Todoroff, Mr. Lalio
⋮   ⋮
862 Giles, Mr. Frederick Edward
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)
864 Sage, Miss. Dorothy Edith "Dolly"
865 Gill, Mr. John William
866 Bystrom, Mrs. (Karolina)
867 Duran y More, Miss. Asuncion
868 Roebling, Mr. Washington Augustus II
869 van Melkebeke, Mr. Philemon
870 Johnson, Master. Harold Theodor
871 Balkic, Mr. Cerin
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
873 Carlsson, Mr. Frans Olof
874 Vander Cruyssen, Mr. Victor
875 Abelson, Mrs. Samuel (Hannah Wizosky)
876 Najib, Miss. Adele Kiamie "Jane"
877 Gustafsson, Mr. Alfred Ossian
878 Petroff, Mr. Nedelio
879 Laleff, Mr. Kristo
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
881 Shelley, Mrs. William (Imanita Parrish Hall)
882 Markun, Mr. Johann
883 Dahlberg, Miss. Gerda Ulrika
884 Banfield, Mr. Frederick James
885 Sutehall, Mr. Henry Jr
886 Rice, Mrs. William (Margaret Norton)
887 Montvila, Rev. Juozas
888 Graham, Miss. Margaret Edith
889 Johnston, Miss. Catherine Helen "Carrie"
890 Behr, Mr. Karl Howell
891 Dooley, Mr. Patrick

## Selecció de columnes amb dplyr

La llibreria `dplyr` ens permet fer-ho d'una altra manera. Amb la funció `select` seleccionarem les columnes, i amb la funció `filter`, les files. El primer paràmetre de la funció serà el _DataFrame_ i  els següents, els noms de les columnes.

In [9]:
select(df, Name)

    Name
1   Braund, Mr. Owen Harris
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)
3   Heikkinen, Miss. Laina
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)
5   Allen, Mr. William Henry
6   Moran, Mr. James
7   McCarthy, Mr. Timothy J
8   Palsson, Master. Gosta Leonard
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10  Nasser, Mrs. Nicholas (Adele Achem)
11  Sandstrom, Miss. Marguerite Rut
12  Bonnell, Miss. Elizabeth
13  Saundercock, Mr. William Henry
14  Andersson, Mr. Anders Johan
15  Vestrom, Miss. Hulda Amanda Adolfina
16  Hewlett, Mrs. (Mary D Kingcome)
17  Rice, Master. Eugene
18  Williams, Mr. Charles Eugene
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
20  Masselmani, Mrs. Fatima
21  Fynney, Mr. Joseph J
22  Beesley, Mr. Lawrence
23  McGowan, Miss. Anna "Annie"
24  Sloper, Mr. William Thompson
25  Palsson, Miss. Torborg Danira
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
27  Emir, Mr. Farred Chehab
28  Fortune, Mr. Charles Alexander
29  O'Dwyer, Miss. Ellen "Nellie"
30  Todoroff, Mr. Lalio
⋮   ⋮
862 Giles, Mr. Frederick Edward
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)
864 Sage, Miss. Dorothy Edith "Dolly"
865 Gill, Mr. John William
866 Bystrom, Mrs. (Karolina)
867 Duran y More, Miss. Asuncion
868 Roebling, Mr. Washington Augustus II
869 van Melkebeke, Mr. Philemon
870 Johnson, Master. Harold Theodor
871 Balkic, Mr. Cerin
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
873 Carlsson, Mr. Frans Olof
874 Vander Cruyssen, Mr. Victor
875 Abelson, Mrs. Samuel (Hannah Wizosky)
876 Najib, Miss. Adele Kiamie "Jane"
877 Gustafsson, Mr. Alfred Ossian
878 Petroff, Mr. Nedelio
879 Laleff, Mr. Kristo
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
881 Shelley, Mrs. William (Imanita Parrish Hall)
882 Markun, Mr. Johann
883 Dahlberg, Miss. Gerda Ulrika
884 Banfield, Mr. Frederick James
885 Sutehall, Mr. Henry Jr
886 Rice, Mrs. William (Margaret Norton)
887 Montvila, Rev. Juozas
888 Graham, Miss. Margaret Edith
889 Johnston, Miss. Catherine Helen "Carrie"
890 Behr, Mr. Karl Howell
891 Dooley, Mr. Patrick

Si volem seleccionar més d'una columna, passarem tots els seus noms com a paràmetres de la funció `select`.

In [10]:
select(df, Name, Sex, Age)

    Name                                                      Sex    Age
1   Braund, Mr. Owen Harris                                   male   22
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)       female 38
3   Heikkinen, Miss. Laina                                    female 26
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)              female 35
5   Allen, Mr. William Henry                                  male   35
6   Moran, Mr. James                                          male   NA
7   McCarthy, Mr. Timothy J                                   male   54
8   Palsson, Master. Gosta Leonard                            male    2
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         female 27
10  Nasser, Mrs. Nicholas (Adele Achem)                       female 14
11  Sandstrom, Miss. Marguerite Rut                           female  4
12  Bonnell, Miss. Elizabeth                                  female 58
13  Saundercock, Mr. William Henry                            male   20
14  Andersson, Mr. Anders Johan                               male   39
15  Vestrom, Miss. Hulda Amanda Adolfina                      female 14
16  Hewlett, Mrs. (Mary D Kingcome)                           female 55
17  Rice, Master. Eugene                                      male    2
18  Williams, Mr. Charles Eugene                              male   NA
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)   female 31
20  Masselmani, Mrs. Fatima                                   female NA
21  Fynney, Mr. Joseph J                                      male   35
22  Beesley, Mr. Lawrence                                     male   34
23  McGowan, Miss. Anna "Annie"                               female 15
24  Sloper, Mr. William Thompson                              male   28
25  Palsson, Miss. Torborg Danira                             female  8
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 38
27  Emir, Mr. Farred Chehab                                   male   NA
28  Fortune, Mr. Charles Alexander                            male   19
29  O'Dwyer, Miss. Ellen "Nellie"                             female NA
30  Todoroff, Mr. Lalio                                       male   NA
⋮   ⋮                                                         ⋮      ⋮
862 Giles, Mr. Frederick Edward                               male   21
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       female 48
864 Sage, Miss. Dorothy Edith "Dolly"                         female NA
865 Gill, Mr. John William                                    male   24
866 Bystrom, Mrs. (Karolina)                                  female 42
867 Duran y More, Miss. Asuncion                              female 27
868 Roebling, Mr. Washington Augustus II                      male   31
869 van Melkebeke, Mr. Philemon                               male   NA
870 Johnson, Master. Harold Theodor                           male    4
871 Balkic, Mr. Cerin                                         male   26
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          female 47
873 Carlsson, Mr. Frans Olof                                  male   33
874 Vander Cruyssen, Mr. Victor                               male   47
875 Abelson, Mrs. Samuel (Hannah Wizosky)                     female 28
876 Najib, Miss. Adele Kiamie "Jane"                          female 15
877 Gustafsson, Mr. Alfred Ossian                             male   20
878 Petroff, Mr. Nedelio                                      male   19
879 Laleff, Mr. Kristo                                        male   NA
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)             female 56
881 Shelley, Mrs. William (Imanita Parrish Hall)              female 25
882 Markun, Mr. Johann                                        male   33
883 Dahlberg, Miss. Gerda Ulrika                              female 22
884 Banfield, Mr. Frederick James                             male   28
885 Sutehall, Mr. Henry Jr                                    male   25
886 Rice, Mrs. William (Margaret Norton)                      female 39
887 Montvila, Rev. Juozas                                     male   27
888 Graham, Miss. Margaret Edith                              female 19
889 Johnston, Miss. Catherine Helen "Carrie"                  female NA
890 Behr, Mr. Karl Howell                                     male   26
891 Dooley, Mr. Patrick                                       male   32

# Filtrat de files

La manera estàndard de filtrar un _dataset_ és mitjançant una condició en les files. En el següent exemple, filtrem tots els passatgers de menys de 18 anys. La part de la condició `!is.na(df$Age)` és per eliminar aquells que no en tenim l'edat.

In [11]:
df[df$Age < 18 & !is.na(df$Age),]

    PassengerId Survived Pclass Name
1     8         0        3      Palsson, Master. Gosta Leonard
2    10         1        2      Nasser, Mrs. Nicholas (Adele Achem)
3    11         1        3      Sandstrom, Miss. Marguerite Rut
4    15         0        3      Vestrom, Miss. Hulda Amanda Adolfina
5    17         0        3      Rice, Master. Eugene
6    23         1        3      McGowan, Miss. Anna "Annie"
7    25         0        3      Palsson, Miss. Torborg Danira
8    40         1        3      Nicola-Yarred, Miss. Jamila
9    44         1        2      Laroche, Miss. Simonne Marie Anne Andree
10   51         0        3      Panula, Master. Juha Niilo
11   59         1        2      West, Miss. Constance Mirium
12   60         0        3      Goodwin, Master. William Frederick
13   64         0        3      Skoog, Master. Harald
14   69         1        3      Andersson, Miss. Erna Alexandra
15   72         0        3      Goodwin, Miss. Lillian Amy
16   79         1        2      Caldwell, Master. Alden Gates
17   85         1        2      Ilett, Miss. Bertha
18   87         0        3      Ford, Mr. William Neal
19  112         0        3      Zabour, Miss. Hileni
20  115         0        3      Attalah, Miss. Malake
21  120         0        3      Andersson, Miss. Ellis Anna Maria
22  126         1        3      Nicola-Yarred, Master. Elias
23  139         0        3      Osen, Mr. Olaf Elon
24  148         0        3      Ford, Miss. Robina Maggie "Ruby"
25  157         1        3      Gilnagh, Miss. Katherine "Katie"
26  164         0        3      Calic, Mr. Jovo
27  165         0        3      Panula, Master. Eino Viljami
28  166         1        3      Goldsmith, Master. Frank John William "Frankie"
29  172         0        3      Rice, Master. Arthur
30  173         1        3      Johnson, Miss. Eleanor Ileen
⋮   ⋮           ⋮        ⋮      ⋮
84  692         1        3      Karun, Miss. Manca
85  721         1        2      Harper, Miss. Annie Jessie "Nina"
86  722         0        3      Jensen, Mr. Svend Lauritz
87  732         0        3      Hassan, Mr. Houssein G N
88  747         0        3      Abbott, Mr. Rossmore Edward
89  751         1        2      Wells, Miss. Joan
90  752         1        3      Moor, Master. Meier
91  756         1        2      Hamalainen, Master. Viljo
92  765         0        3      Eklund, Mr. Hans Linus
93  778         1        3      Emanuel, Miss. Virginia Ethel
94  781         1        3      Ayoub, Miss. Banoura
95  782         1        1      Dick, Mrs. Albert Adrian (Vera Gillespie)
96  788         0        3      Rice, Master. George Hugh
97  789         1        3      Dean, Master. Bertram Vere
98  792         0        2      Gaskell, Mr. Alfred
99  803         1        1      Carter, Master. William Thornton II
100 804         1        3      Thomas, Master. Assad Alexander
101 814         0        3      Andersson, Miss. Ebba Iris Alfrida
102 820         0        3      Skoog, Master. Karl Thorsten
103 825         0        3      Panula, Master. Urho Abraham
104 828         1        2      Mallet, Master. Andre
105 831         1        3      Yasbeck, Mrs. Antoni (Selini Alexander)
106 832         1        2      Richards, Master. George Sibley
107 842         0        2      Mudd, Mr. Thomas Charles
108 845         0        3      Culumovic, Mr. Jeso
109 851         0        3      Andersson, Master. Sigvard Harald Elias
110 853         0        3      Boulos, Miss. Nourelain
111 854         1        1      Lines, Miss. Mary Conover
112 870         1        3      Johnson, Master. Harold Theodor
113 876         1        3      Najib, Miss. Adele Kiamie "Jane"
    Sex    Age   SibSp Parch Ticket          Fare     Cabin   Embarked
1   male    2.00 3     1     349909          21.0750  NA      S
2   female 14.00 1     0     237736          30.0708  NA      C
3   female  4.00 1     1     PP 9549         16.7000  G6      S
4   female 14.00 0     0     350406           7.8542  NA      S
5   male    2.00 4     1     382652          29.1250  NA      Q
6   female 15.00 0     0     330923           8.0292  NA      Q
7   female  8.00 3     1     349909          21.0750  NA      S
8   female 14.00 1     0     2651            11.2417  NA      C
9   female  3.00 1     2     SC/Paris 2123   41.5792  NA      C
10  male    7.00 4     1     3101295         39.6875  NA      S
11  female  5.00 1     2     C.A. 34651      27.7500  NA      S
12  male   11.00 5     2     CA 2144         46.9000  NA      S
13  male    4.00 3     2     347088          27.9000  NA      S
14  female 17.00 4     2     3101281          7.9250  NA      S
15  female 16.00 5     2     CA 2144         46.9000  NA      S
16  male    0.83 0     2     248738          29.0000  NA      S
17  female 17.00 0     0     SO/C 14885      10.5000  NA      S
18  male   16.00 1     3     W./C. 6608      34.3750  NA      S
19  female 14.50 1     0     2665            14.4542  NA      C
20  female 17.00 0     0     2627            14.4583  NA      C
21  female  2.00 4     2     347082          31.2750  NA      S
22  male   12.00 1     0     2651            11.2417  NA      C
23  male   16.00 0     0     7534             9.2167  NA      S
24  female  9.00 2     2     W./C. 6608      34.3750  NA      S
25  female 16.00 0     0     35851            7.7333  NA      Q
26  male   17.00 0     0     315093           8.6625  NA      S
27  male    1.00 4     1     3101295         39.6875  NA      S
28  male    9.00 0     2     363291          20.5250  NA      S
29  male    4.00 4     1     382652          29.1250  NA      Q
30  female  1.00 1     1     347742          11.1333  NA      S
⋮   ⋮      ⋮     ⋮     ⋮     ⋮               ⋮        ⋮       ⋮
84  female  4.00 0     1     349256           13.4167 NA      C
85  female  6.00 0     1     248727           33.0000 NA      S
86  male   17.00 1     0     350048            7.0542 NA      S
87  male   11.00 0     0     2699             18.7875 NA      C
88  male   16.00 1     1     C.A. 2673        20.2500 NA      S
89  female  4.00 1     1     29103            23.0000 NA      S
90  male    6.00 0     1     392096           12.4750 E121    S
91  male    0.67 1     1     250649           14.5000 NA      S
92  male   16.00 0     0     347074            7.7750 NA      S
93  female  5.00 0     0     364516           12.4750 NA      S
94  female 13.00 0     0     2687              7.2292 NA      C
95  female 17.00 1     0     17474            57.0000 B20     S
96  male    8.00 4     1     382652           29.1250 NA      Q
97  male    1.00 1     2     C.A. 2315        20.5750 NA      S
98  male   16.00 0     0     239865           26.0000 NA      S
99  male   11.00 1     2     113760          120.0000 B96 B98 S
100 male    0.42 0     1     2625              8.5167 NA      C
101 female  6.00 4     2     347082           31.2750 NA      S
102 male   10.00 3     2     347088           27.9000 NA      S
103 male    2.00 4     1     3101295          39.6875 NA      S
104 male    1.00 0     2     S.C./PARIS 2079  37.0042 NA      C
105 female 15.00 1     0     2659             14.4542 NA      C
106 male    0.83 1     1     29106            18.7500 NA      S
107 male   16.00 0     0     S.O./P.P. 3      10.5000 NA      S
108 male   17.00 0     0     315090            8.6625 NA      S
109 male    4.00 4     2     347082           31.2750 NA      S
110 female  9.00 1     1     2678             15.2458 NA      C
111 female 16.00 0     1     PC 17592         39.4000 D28     S
112 male    4.00 1     1     347742           11.1333 NA      S
113 female 15.00 0     0     2667              7.2250 NA      C

## Filtrat de files amb dplyr

Si fem servir la funció `filter` del package `dplyr`, queda més clar:

In [12]:
filter(df, Age < 18 & !is.na(Age))

    PassengerId Survived Pclass Name
1     8         0        3      Palsson, Master. Gosta Leonard
2    10         1        2      Nasser, Mrs. Nicholas (Adele Achem)
3    11         1        3      Sandstrom, Miss. Marguerite Rut
4    15         0        3      Vestrom, Miss. Hulda Amanda Adolfina
5    17         0        3      Rice, Master. Eugene
6    23         1        3      McGowan, Miss. Anna "Annie"
7    25         0        3      Palsson, Miss. Torborg Danira
8    40         1        3      Nicola-Yarred, Miss. Jamila
9    44         1        2      Laroche, Miss. Simonne Marie Anne Andree
10   51         0        3      Panula, Master. Juha Niilo
11   59         1        2      West, Miss. Constance Mirium
12   60         0        3      Goodwin, Master. William Frederick
13   64         0        3      Skoog, Master. Harald
14   69         1        3      Andersson, Miss. Erna Alexandra
15   72         0        3      Goodwin, Miss. Lillian Amy
16   79         1        2      Caldwell, Master. Alden Gates
17   85         1        2      Ilett, Miss. Bertha
18   87         0        3      Ford, Mr. William Neal
19  112         0        3      Zabour, Miss. Hileni
20  115         0        3      Attalah, Miss. Malake
21  120         0        3      Andersson, Miss. Ellis Anna Maria
22  126         1        3      Nicola-Yarred, Master. Elias
23  139         0        3      Osen, Mr. Olaf Elon
24  148         0        3      Ford, Miss. Robina Maggie "Ruby"
25  157         1        3      Gilnagh, Miss. Katherine "Katie"
26  164         0        3      Calic, Mr. Jovo
27  165         0        3      Panula, Master. Eino Viljami
28  166         1        3      Goldsmith, Master. Frank John William "Frankie"
29  172         0        3      Rice, Master. Arthur
30  173         1        3      Johnson, Miss. Eleanor Ileen
⋮   ⋮           ⋮        ⋮      ⋮
84  692         1        3      Karun, Miss. Manca
85  721         1        2      Harper, Miss. Annie Jessie "Nina"
86  722         0        3      Jensen, Mr. Svend Lauritz
87  732         0        3      Hassan, Mr. Houssein G N
88  747         0        3      Abbott, Mr. Rossmore Edward
89  751         1        2      Wells, Miss. Joan
90  752         1        3      Moor, Master. Meier
91  756         1        2      Hamalainen, Master. Viljo
92  765         0        3      Eklund, Mr. Hans Linus
93  778         1        3      Emanuel, Miss. Virginia Ethel
94  781         1        3      Ayoub, Miss. Banoura
95  782         1        1      Dick, Mrs. Albert Adrian (Vera Gillespie)
96  788         0        3      Rice, Master. George Hugh
97  789         1        3      Dean, Master. Bertram Vere
98  792         0        2      Gaskell, Mr. Alfred
99  803         1        1      Carter, Master. William Thornton II
100 804         1        3      Thomas, Master. Assad Alexander
101 814         0        3      Andersson, Miss. Ebba Iris Alfrida
102 820         0        3      Skoog, Master. Karl Thorsten
103 825         0        3      Panula, Master. Urho Abraham
104 828         1        2      Mallet, Master. Andre
105 831         1        3      Yasbeck, Mrs. Antoni (Selini Alexander)
106 832         1        2      Richards, Master. George Sibley
107 842         0        2      Mudd, Mr. Thomas Charles
108 845         0        3      Culumovic, Mr. Jeso
109 851         0        3      Andersson, Master. Sigvard Harald Elias
110 853         0        3      Boulos, Miss. Nourelain
111 854         1        1      Lines, Miss. Mary Conover
112 870         1        3      Johnson, Master. Harold Theodor
113 876         1        3      Najib, Miss. Adele Kiamie "Jane"
    Sex    Age   SibSp Parch Ticket          Fare     Cabin   Embarked
1   male    2.00 3     1     349909          21.0750  NA      S
2   female 14.00 1     0     237736          30.0708  NA      C
3   female  4.00 1     1     PP 9549         16.7000  G6      S
4   female 14.00 0     0     350406           7.8542  NA      S
5   male    2.00 4     1     382652          29.1250  NA      Q
6   female 15.00 0     0     330923           8.0292  NA      Q
7   female  8.00 3     1     349909          21.0750  NA      S
8   female 14.00 1     0     2651            11.2417  NA      C
9   female  3.00 1     2     SC/Paris 2123   41.5792  NA      C
10  male    7.00 4     1     3101295         39.6875  NA      S
11  female  5.00 1     2     C.A. 34651      27.7500  NA      S
12  male   11.00 5     2     CA 2144         46.9000  NA      S
13  male    4.00 3     2     347088          27.9000  NA      S
14  female 17.00 4     2     3101281          7.9250  NA      S
15  female 16.00 5     2     CA 2144         46.9000  NA      S
16  male    0.83 0     2     248738          29.0000  NA      S
17  female 17.00 0     0     SO/C 14885      10.5000  NA      S
18  male   16.00 1     3     W./C. 6608      34.3750  NA      S
19  female 14.50 1     0     2665            14.4542  NA      C
20  female 17.00 0     0     2627            14.4583  NA      C
21  female  2.00 4     2     347082          31.2750  NA      S
22  male   12.00 1     0     2651            11.2417  NA      C
23  male   16.00 0     0     7534             9.2167  NA      S
24  female  9.00 2     2     W./C. 6608      34.3750  NA      S
25  female 16.00 0     0     35851            7.7333  NA      Q
26  male   17.00 0     0     315093           8.6625  NA      S
27  male    1.00 4     1     3101295         39.6875  NA      S
28  male    9.00 0     2     363291          20.5250  NA      S
29  male    4.00 4     1     382652          29.1250  NA      Q
30  female  1.00 1     1     347742          11.1333  NA      S
⋮   ⋮      ⋮     ⋮     ⋮     ⋮               ⋮        ⋮       ⋮
84  female  4.00 0     1     349256           13.4167 NA      C
85  female  6.00 0     1     248727           33.0000 NA      S
86  male   17.00 1     0     350048            7.0542 NA      S
87  male   11.00 0     0     2699             18.7875 NA      C
88  male   16.00 1     1     C.A. 2673        20.2500 NA      S
89  female  4.00 1     1     29103            23.0000 NA      S
90  male    6.00 0     1     392096           12.4750 E121    S
91  male    0.67 1     1     250649           14.5000 NA      S
92  male   16.00 0     0     347074            7.7750 NA      S
93  female  5.00 0     0     364516           12.4750 NA      S
94  female 13.00 0     0     2687              7.2292 NA      C
95  female 17.00 1     0     17474            57.0000 B20     S
96  male    8.00 4     1     382652           29.1250 NA      Q
97  male    1.00 1     2     C.A. 2315        20.5750 NA      S
98  male   16.00 0     0     239865           26.0000 NA      S
99  male   11.00 1     2     113760          120.0000 B96 B98 S
100 male    0.42 0     1     2625              8.5167 NA      C
101 female  6.00 4     2     347082           31.2750 NA      S
102 male   10.00 3     2     347088           27.9000 NA      S
103 male    2.00 4     1     3101295          39.6875 NA      S
104 male    1.00 0     2     S.C./PARIS 2079  37.0042 NA      C
105 female 15.00 1     0     2659             14.4542 NA      C
106 male    0.83 1     1     29106            18.7500 NA      S
107 male   16.00 0     0     S.O./P.P. 3      10.5000 NA      S
108 male   17.00 0     0     315090            8.6625 NA      S
109 male    4.00 4     2     347082           31.2750 NA      S
110 female  9.00 1     1     2678             15.2458 NA      C
111 female 16.00 0     1     PC 17592         39.4000 D28     S
112 male    4.00 1     1     347742           11.1333 NA      S
113 female 15.00 0     0     2667              7.2250 NA      C

La condició pot ser tan complexa com volguem. Per exemple, a continuació seleccionarem aquells passatgers menors de 21 anys que hagin sobreviscut i fóssin en alguna cabina.

In [13]:
filter(df, Survived == 1 & Age < 21 & !is.na(Cabin))

   PassengerId Survived Pclass
1   11         1        3
2  137         1        1
3  184         1        2
4  194         1        2
5  292         1        1
6  306         1        1
7  308         1        1
8  312         1        1
9  330         1        1
10 341         1        2
11 436         1        1
12 446         1        1
13 505         1        1
14 551         1        1
15 586         1        1
16 619         1        2
17 690         1        1
18 701         1        1
19 752         1        3
20 782         1        1
21 803         1        1
22 854         1        1
23 888         1        1
   Name
1  Sandstrom, Miss. Marguerite Rut
2  Newsom, Miss. Helen Monypeny
3  Becker, Master. Richard F
4  Navratil, Master. Michel M
5  Bishop, Mrs. Dickinson H (Helen Walton)
6  Allison, Master. Hudson Trevor
7  Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
8  Ryerson, Miss. Emily Borie
9  Hippach, Miss. Jean Gertrude
10 Navratil, Master. Edmond Roger
11 Carter, Miss. Lucile Polk
12 Dodge, Master. Washington
13 Maioni, Miss. Roberta
14 Thayer, Mr. John Borland Jr
15 Taussig, Miss. Ruth
16 Becker, Miss. Marion Louise
17 Madill, Miss. Georgette Alexandra
18 Astor, Mrs. John Jacob (Madeleine Talmadge Force)
19 Moor, Master. Meier
20 Dick, Mrs. Albert Adrian (Vera Gillespie)
21 Carter, Master. William Thornton II
22 Lines, Miss. Mary Conover
23 Graham, Miss. Margaret Edith
   Sex    Age   SibSp Parch Ticket   Fare     Cabin           Embarked
1  female  4.00 1     1     PP 9549   16.7000 G6              S
2  female 19.00 0     2     11752     26.2833 D47             S
3  male    1.00 2     1     230136    39.0000 F4              S
4  male    3.00 1     1     230080    26.0000 F2              S
5  female 19.00 1     0     11967     91.0792 B49             C
6  male    0.92 1     2     113781   151.5500 C22 C26         S
7  female 17.00 1     0     PC 17758 108.9000 C65             C
8  female 18.00 2     2     PC 17608 262.3750 B57 B59 B63 B66 C
9  female 16.00 0     1     111361    57.9792 B18             C
10 male    2.00 1     1     230080    26.0000 F2              S
11 female 14.00 1     2     113760   120.0000 B96 B98         S
12 male    4.00 0     2     33638     81.8583 A34             S
13 female 16.00 0     0     110152    86.5000 B79             S
14 male   17.00 0     2     17421    110.8833 C70             C
15 female 18.00 0     2     110413    79.6500 E68             S
16 female  4.00 2     1     230136    39.0000 F4              S
17 female 15.00 0     1     24160    211.3375 B5              S
18 female 18.00 1     0     PC 17757 227.5250 C62 C64         C
19 male    6.00 0     1     392096    12.4750 E121            S
20 female 17.00 1     0     17474     57.0000 B20             S
21 male   11.00 1     2     113760   120.0000 B96 B98         S
22 female 16.00 0     1     PC 17592  39.4000 D28             S
23 female 19.00 0     0     112053    30.0000 B42             S

# Dividir les dades en dos conjunts de train i test

Un cas molt habitual en problemes de _machine learning_ és haver de dividir el nostre _datatset_ en dos trossos o _splits_: el _dataset_ de _train_ i el _dataset_ de _test_. El _dataset_ de _train_ ens servirà per entrenar el model amb els mètodes de _machine learning_ que escollim. I el _dataset_ de _test_, per avaluar el model a partir de comparar les prediccions del model en aquest últim dataset.

En el cas més habitual, en què les nostres dades no són sèries temporals, dividirem les dades en dos _splits_ aleatoris. A continuació veurem dues de les moltes maneres que tenim per fer-ho.

## Funció sample

La funció [`sample_frac`](https://dplyr.tidyverse.org/reference/sample.html) de `dplyr` retorna una mostra aleatòria del nostre _dataset_. La funció necessita un identificador únic per cada fila, i és el primer que farem. Després crearem el _dataset_ de _train_, especificant la proporció del _dataset_ original que volem, i finalment assignarem al _dataset_ de _test_ la resta de les files que no han estat seleccionades amb la funció [`anti_join`](https://dplyr.tidyverse.org/reference/join.html).

In [17]:
df$id <- 1:nrow(df)
train <- sample_frac(df, .75)
train

    PassengerId Survived Pclass
1   641         0        3
2   742         0        1
3   383         0        3
4   203         0        3
5   644         1        3
6   521         1        1
7   534         1        3
8   726         0        3
9   855         0        2
10  341         1        2
11  227         1        2
12  352         0        1
13  891         0        3
14  710         1        3
15  879         0        3
16  814         0        3
17  509         0        3
18  721         1        2
19  803         1        1
20   12         1        1
21  862         0        2
22  163         0        3
23    7         0        1
24  141         0        3
25  538         1        1
26  425         0        3
27  823         0        1
28  856         1        3
29  478         0        3
30  714         0        3
⋮   ⋮           ⋮        ⋮
639 850         1        1
640 607         0        3
641 417         1        2
642 882         0        3
643 373         0        3
644 279         0        3
645 113         0        3
646 264         0        1
647 378         0        1
648 711         1        1
649   8         0        3
650  26         1        3
651 687         0        3
652 418         1        2
653 112         0        3
654 665         1        3
655 254         0        3
656  16         1        2
657 737         0        3
658 310         1        1
659 696         0        2
660 562         0        3
661 621         0        3
662 615         0        3
663 275         1        3
664 415         1        3
665  28         0        1
666 144         0        3
667  96         0        3
668 446         1        1
    Name                                                      Sex    Age  SibSp
1   Jensen, Mr. Hans Peder                                    male   20   0
2   Cavendish, Mr. Tyrell William                             male   36   1
3   Tikkanen, Mr. Juho                                        male   32   0
4   Johanson, Mr. Jakob Alfred                                male   34   0
5   Foo, Mr. Choong                                           male   NA   0
6   Perreault, Miss. Anne                                     female 30   0
7   Peter, Mrs. Catherine (Catherine Rizk)                    female NA   0
8   Oreskovic, Mr. Luka                                       male   20   0
9   Carter, Mrs. Ernest Courtenay (Lilian Hughes)             female 44   1
10  Navratil, Master. Edmond Roger                            male    2   1
11  Mellors, Mr. William John                                 male   19   0
12  Williams-Lambert, Mr. Fletcher Fellows                    male   NA   0
13  Dooley, Mr. Patrick                                       male   32   0
14  Moubarek, Master. Halim Gonios ("William George")         male   NA   1
15  Laleff, Mr. Kristo                                        male   NA   0
16  Andersson, Miss. Ebba Iris Alfrida                        female  6   4
17  Olsen, Mr. Henry Margido                                  male   28   0
18  Harper, Miss. Annie Jessie "Nina"                         female  6   0
19  Carter, Master. William Thornton II                       male   11   1
20  Bonnell, Miss. Elizabeth                                  female 58   0
21  Giles, Mr. Frederick Edward                               male   21   1
22  Bengtsson, Mr. John Viktor                                male   26   0
23  McCarthy, Mr. Timothy J                                   male   54   0
24  Boulos, Mrs. Joseph (Sultana)                             female NA   0
25  LeRoy, Miss. Bertha                                       female 30   0
26  Rosblom, Mr. Viktor Richard                               male   18   1
27  Reuchlin, Jonkheer. John George                           male   38   0
28  Aks, Mrs. Sam (Leah Rosen)                                female 18   0
29  Braund, Mr. Lewis Richard                                 male   29   1
30  Larsson, Mr. August Viktor                                male   29   0
⋮   ⋮                                                         ⋮      ⋮    ⋮
639 Goldenberg, Mrs. Samuel L (Edwiga Grabowska)              female   NA 1
640 Karaic, Mr. Milan                                         male   30.0 0
641 Drew, Mrs. James Vivian (Lulu Thorne Christian)           female 34.0 1
642 Markun, Mr. Johann                                        male   33.0 0
643 Beavan, Mr. William Thomas                                male   19.0 0
644 Rice, Master. Eric                                        male    7.0 4
645 Barton, Mr. David John                                    male   22.0 0
646 Harrison, Mr. William                                     male   40.0 0
647 Widener, Mr. Harry Elkins                                 male   27.0 0
648 Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")          female 24.0 0
649 Palsson, Master. Gosta Leonard                            male    2.0 3
650 Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 38.0 1
651 Panula, Mr. Jaako Arnold                                  male   14.0 4
652 Silven, Miss. Lyyli Karoliina                             female 18.0 0
653 Zabour, Miss. Hileni                                      female 14.5 1
654 Lindqvist, Mr. Eino William                               male   20.0 1
655 Lobb, Mr. William Arthur                                  male   30.0 1
656 Hewlett, Mrs. (Mary D Kingcome)                           female 55.0 0
657 Ford, Mrs. Edward (Margaret Ann Watson)                   female 48.0 1
658 Francatelli, Miss. Laura Mabel                            female 30.0 0
659 Chapman, Mr. Charles Henry                                male   52.0 0
660 Sivic, Mr. Husein                                         male   40.0 0
661 Yasbeck, Mr. Antoni                                       male   27.0 1
662 Brocklebank, Mr. William Alfred                           male   35.0 0
663 Healy, Miss. Hanora "Nora"                                female   NA 0
664 Sundman, Mr. Johan Julian                                 male   44.0 0
665 Fortune, Mr. Charles Alexander                            male   19.0 3
666 Burke, Mr. Jeremiah                                       male   19.0 0
667 Shorney, Mr. Charles Joseph                               male     NA 0
668 Dodge, Master. Washington                                 male    4.0 0
    Parch Ticket            Fare     Cabin       Embarked id
1   0     350050              7.8542 NA          S        641
2   0     19877              78.8500 C46         S        742
3   0     STON/O 2. 3101293   7.9250 NA          S        383
4   0     3101264             6.4958 NA          S        203
5   0     1601               56.4958 NA          S        644
6   0     12749              93.5000 B73         S        521
7   2     2668               22.3583 NA          C        534
8   0     315094              8.6625 NA          S        726
9   0     244252             26.0000 NA          S        855
10  1     230080             26.0000 F2          S        341
11  0     SW/PP 751          10.5000 NA          S        227
12  0     113510             35.0000 C128        S        352
13  0     370376              7.7500 NA          Q        891
14  1     2661               15.2458 NA          C        710
15  0     349217              7.8958 NA          S        879
16  2     347082             31.2750 NA          S        814
17  0     C 4001             22.5250 NA          S        509
18  1     248727             33.0000 NA          S        721
19  2     113760            120.0000 B96 B98     S        803
20  0     113783             26.5500 C103        S         12
21  0     28134              11.5000 NA          S        862
22  0     347068              7.7750 NA          S        163
23  0     17463              51.8625 E46         S          7
24  2     2678               15.2458 NA          C        141
25  0     PC 17761          106.4250 NA          C        538
26  1     370129             20.2125 NA          S        425
27  0     19972               0.0000 NA          S        823
28  1     392091              9.3500 NA          S        856
29  0     3460                7.0458 NA          S        478
30  0     7545                9.4833 NA          S        714
⋮   ⋮     ⋮                 ⋮        ⋮           ⋮        ⋮
639 0     17453              89.1042 C92         C        850
640 0     349246              7.8958 NA          S        607
641 1     28220              32.5000 NA          S        417
642 0     349257              7.8958 NA          S        882
643 0     323951              8.0500 NA          S        373
644 1     382652             29.1250 NA          Q        279
645 0     324669              8.0500 NA          S        113
646 0     112059              0.0000 B94         S        264
647 2     113503            211.5000 C82         C        378
648 0     PC 17482           49.5042 C90         C        711
649 1     349909             21.0750 NA          S          8
650 5     347077             31.3875 NA          S         26
651 1     3101295            39.6875 NA          S        687
652 2     250652             13.0000 NA          S        418
653 0     2665               14.4542 NA          C        112
654 0     STON/O 2. 3101285   7.9250 NA          S        665
655 0     A/5. 3336          16.1000 NA          S        254
656 0     248706             16.0000 NA          S         16
657 3     W./C. 6608         34.3750 NA          S        737
658 0     PC 17485           56.9292 E36         C        310
659 0     248731             13.5000 NA          S        696
660 0     349251              7.8958 NA          S        562
661 0     2659               14.4542 NA          C        621
662 0     364512              8.0500 NA          S        615
663 0     370375              7.7500 NA          Q        275
664 0     STON/O 2. 3101269   7.9250 NA          S        415
665 2     19950             263.0000 C23 C25 C27 S         28
666 0     365222              6.7500 NA          Q        144
667 0     374910              8.0500 NA          S         96
668 2     33638              81.8583 A34         S        446

In [18]:
test  <- anti_join(df, train, by = 'id')
test

    PassengerId Survived Pclass
1    10         1        2
2    19         0        3
3    20         1        3
4    27         0        3
5    30         0        3
6    31         0        1
7    34         0        2
8    39         0        3
9    47         0        3
10   51         0        3
11   55         0        1
12   57         1        2
13   66         1        3
14   70         0        3
15   75         1        3
16   79         1        2
17   87         0        3
18   88         0        3
19   92         0        3
20   93         0        1
21   95         0        3
22  102         0        3
23  105         0        3
24  106         0        3
25  108         1        3
26  109         0        3
27  111         0        1
28  118         0        2
29  122         0        3
30  131         0        3
⋮   ⋮           ⋮        ⋮
194 782         1        1
195 800         0        3
196 801         0        2
197 802         1        2
198 806         0        3
199 808         0        3
200 809         0        2
201 813         0        2
202 818         0        2
203 820         0        3
204 825         0        3
205 828         1        2
206 833         0        3
207 836         1        1
208 837         0        3
209 848         0        3
210 853         0        3
211 854         1        1
212 857         1        1
213 858         1        1
214 859         1        3
215 863         1        1
216 867         1        2
217 871         0        3
218 875         1        2
219 880         1        1
220 883         0        3
221 884         0        2
222 888         1        1
223 889         0        3
    Name                                                    Sex    Age   SibSp
1   Nasser, Mrs. Nicholas (Adele Achem)                     female 14.00 1
2   Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele) female 31.00 1
3   Masselmani, Mrs. Fatima                                 female    NA 0
4   Emir, Mr. Farred Chehab                                 male      NA 0
5   Todoroff, Mr. Lalio                                     male      NA 0
6   Uruchurtu, Don. Manuel E                                male   40.00 0
7   Wheadon, Mr. Edward H                                   male   66.00 0
8   Vander Planke, Miss. Augusta Maria                      female 18.00 2
9   Lennon, Mr. Denis                                       male      NA 1
10  Panula, Master. Juha Niilo                              male    7.00 4
11  Ostby, Mr. Engelhart Cornelius                          male   65.00 0
12  Rugg, Miss. Emily                                       female 21.00 0
13  Moubarek, Master. Gerios                                male      NA 1
14  Kink, Mr. Vincenz                                       male   26.00 2
15  Bing, Mr. Lee                                           male   32.00 0
16  Caldwell, Master. Alden Gates                           male    0.83 0
17  Ford, Mr. William Neal                                  male   16.00 1
18  Slocovski, Mr. Selman Francis                           male      NA 0
19  Andreasson, Mr. Paul Edvin                              male   20.00 0
20  Chaffee, Mr. Herbert Fuller                             male   46.00 1
21  Coxon, Mr. Daniel                                       male   59.00 0
22  Petroff, Mr. Pastcho ("Pentcho")                        male      NA 0
23  Gustafsson, Mr. Anders Vilhelm                          male   37.00 2
24  Mionoff, Mr. Stoytcho                                   male   28.00 0
25  Moss, Mr. Albert Johan                                  male      NA 0
26  Rekic, Mr. Tido                                         male   38.00 0
27  Porter, Mr. Walter Chamberlain                          male   47.00 0
28  Turpin, Mr. William John Robert                         male   29.00 1
29  Moore, Mr. Leonard Charles                              male      NA 0
30  Drazenoic, Mr. Jozef                                    male   33.00 0
⋮   ⋮                                                       ⋮      ⋮     ⋮
194 Dick, Mrs. Albert Adrian (Vera Gillespie)               female 17    1
195 Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)    female 30    1
196 Ponesell, Mr. Martin                                    male   34    0
197 Collyer, Mrs. Harvey (Charlotte Annie Tate)             female 31    1
198 Johansson, Mr. Karl Johan                               male   31    0
199 Pettersson, Miss. Ellen Natalia                         female 18    0
200 Meyer, Mr. August                                       male   39    0
201 Slemen, Mr. Richard James                               male   35    0
202 Mallet, Mr. Albert                                      male   31    1
203 Skoog, Master. Karl Thorsten                            male   10    3
204 Panula, Master. Urho Abraham                            male    2    4
205 Mallet, Master. Andre                                   male    1    0
206 Saad, Mr. Amin                                          male   NA    0
207 Compton, Miss. Sara Rebecca                             female 39    1
208 Pasic, Mr. Jakob                                        male   21    0
209 Markoff, Mr. Marin                                      male   35    0
210 Boulos, Miss. Nourelain                                 female  9    1
211 Lines, Miss. Mary Conover                               female 16    0
212 Wick, Mrs. George Dennick (Mary Hitchcock)              female 45    1
213 Daly, Mr. Peter Denis                                   male   51    0
214 Baclini, Mrs. Solomon (Latifa Qurban)                   female 24    0
215 Swift, Mrs. Frederick Joel (Margaret Welles Barron)     female 48    0
216 Duran y More, Miss. Asuncion                            female 27    1
217 Balkic, Mr. Cerin                                       male   26    0
218 Abelson, Mrs. Samuel (Hannah Wizosky)                   female 28    1
219 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)           female 56    0
220 Dahlberg, Miss. Gerda Ulrika                            female 22    0
221 Banfield, Mr. Frederick James                           male   28    0
222 Graham, Miss. Margaret Edith                            female 19    0
223 Johnston, Miss. Catherine Helen "Carrie"                female NA    1
    Parch Ticket           Fare     Cabin Embarked id
1   0     237736           30.0708  NA    C         10
2   0     345763           18.0000  NA    S         19
3   0     2649              7.2250  NA    C         20
4   0     2631              7.2250  NA    C         27
5   0     349216            7.8958  NA    S         30
6   0     PC 17601         27.7208  NA    C         31
7   0     C.A. 24579       10.5000  NA    S         34
8   0     345764           18.0000  NA    S         39
9   0     370371           15.5000  NA    Q         47
10  1     3101295          39.6875  NA    S         51
11  1     113509           61.9792  B30   C         55
12  0     C.A. 31026       10.5000  NA    S         57
13  1     2661             15.2458  NA    C         66
14  0     315151            8.6625  NA    S         70
15  0     1601             56.4958  NA    S         75
16  2     248738           29.0000  NA    S         79
17  3     W./C. 6608       34.3750  NA    S         87
18  0     SOTON/OQ 392086   8.0500  NA    S         88
19  0     347466            7.8542  NA    S         92
20  0     W.E.P. 5734      61.1750  E31   S         93
21  0     364500            7.2500  NA    S         95
22  0     349215            7.8958  NA    S        102
23  0     3101276           7.9250  NA    S        105
24  0     349207            7.8958  NA    S        106
25  0     312991            7.7750  NA    S        108
26  0     349249            7.8958  NA    S        109
27  0     110465           52.0000  C110  S        111
28  0     11668            21.0000  NA    S        118
29  0     A4. 54510         8.0500  NA    S        122
30  0     349241            7.8958  NA    C        131
⋮   ⋮     ⋮                ⋮        ⋮     ⋮        ⋮
194 0     17474             57.0000 B20   S        782
195 1     345773            24.1500 NA    S        800
196 0     250647            13.0000 NA    S        801
197 1     C.A. 31921        26.2500 NA    S        802
198 0     347063             7.7750 NA    S        806
199 0     347087             7.7750 NA    S        808
200 0     248723            13.0000 NA    S        809
201 0     28206             10.5000 NA    S        813
202 1     S.C./PARIS 2079   37.0042 NA    C        818
203 2     347088            27.9000 NA    S        820
204 1     3101295           39.6875 NA    S        825
205 2     S.C./PARIS 2079   37.0042 NA    C        828
206 0     2671               7.2292 NA    C        833
207 1     PC 17756          83.1583 E49   C        836
208 0     315097             8.6625 NA    S        837
209 0     349213             7.8958 NA    C        848
210 1     2678              15.2458 NA    C        853
211 1     PC 17592          39.4000 D28   S        854
212 1     36928            164.8667 NA    S        857
213 0     113055            26.5500 E17   S        858
214 3     2666              19.2583 NA    C        859
215 0     17466             25.9292 D17   S        863
216 0     SC/PARIS 2149     13.8583 NA    C        867
217 0     349248             7.8958 NA    S        871
218 0     P/PP 3381         24.0000 NA    C        875
219 1     11767             83.1583 C50   C        880
220 0     7552              10.5167 NA    S        883
221 0     C.A./SOTON 34068  10.5000 NA    S        884
222 0     112053            30.0000 B42   S        888
223 2     W./C. 6607        23.4500 NA    S        889

<!--Footer-->
 <div style="background: #333333;padding: 35px 0px;margin-top: 25px;">
    <div class="row">
     <div class="col-sm-12">
        <img src="http://materials.cv.uoc.edu/cdocent/common/img/logo-uoc-bottom.png" alt="Logo UOC" class="img-responsive" style="margin: 0 auto; display: block;">
    </div>
</div>
</div>
<!--/Footer-->